body {
  color: #222;
  letter-spacing: 1px; }

a {
  color: #8238a7; }

p,
body .main_footer,
.s_about li {
  color: #888; }

.color_element {
  color: #8238a7; }

.color_bg {
  background-color: #8238a7; }

.color_border {
  border-color: #8238a7; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #fff; }
  .bg_dark .s_descr::after {
    background-color: #fff; }
  .bg_dark a {
    color: #fff; }

.main_color_bg {
  background-color: #222; }

svg path {
  fill: #888; }

.toggle_mnu {
  background-color: #222; }

.top_mnu a:hover {
  color: #8238a7; }
.top_mnu a {
  letter-spacing: 4px; }

.top_text p {
  color: #FAFAFA;
  letter-spacing: 5px; }

.personal_header {
  letter-spacing: 2px; }

.s_descr {
  letter-spacing: 5px; }
  .s_descr::after {
    background-color: #222; }

section h3 {
  letter-spacing: 3px;
  color: #888; }

.s_about p:nth-child(even) {
  color: #8238a7; }

.resume_container h3 {
  color: #222;
  letter-spacing: 1px; }
.resume_container .resume_item .year {
  background-color: #8238a7; }
.resume_container .resume_item .resume_discription {
  letter-spacing: 1px; }

.s_portfolio li {
  color: #888;
  letter-spacing: 2px; }
  .s_portfolio li.active {
    color: #fff;
    border-bottom: 1px solid #8238a7; }
.s_portfolio .portfolio_item .port_item_cont a {
  border-color: #8238a7;
  color: #8238a7; }

.top_wrapper .top_text a {
  border-color: #8238a7;
  color: #ffffff; }

.s_portfolio .portfolio_item:hover .port_item_cont a:hover {
  background-color: #8238a7; }

.top_wrapper .top_text a:hover {
  background-color: #8238a7; }

.main_footer a {
  color: #8238a7; }

.contacts_icon {
  color: #8238a7; }

.text-danger {
  color: #8238a7; }

form input:focus,
form textarea:focus {
  border: 1px solid #8238a7; }
form input,
form textarea {
  letter-spacing: 2px; }
form button {
  background-color: #8238a7;
  letter-spacing: 2px; }
form .form-group {
  letter-spacing: 2px;
  color: #888; }
